@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Nav */

.header {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    position: relative;
    z-index: 9999;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
  }
  
  .autoforce-logo {
    height: 45px;
  }

/* Main ( apresentação carro ) */

.row{
  display: flex;
}

.left-main{
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.circle{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0026ff;
  clip-path: circle(400px at right 500px);

}

.alltext{
  margin-bottom: 250px;
}

.titlecar{
    font-size: 70px;
    font-weight: bold;
    cursor: default;
}

.thex1{
  font-size: 55px;
    font-weight: bold;
    color: blue;
    cursor: default;
}

.textcar{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: default;
}

.btn{
  margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 10px;
    background-color: blue;
    border: none;
    border-radius: 10px;
}

.btn:hover{
  transition: 0.5s;
  box-shadow:0 4px 4px rgba(0,0,0,.15)
}

.right-main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_car{
  margin-bottom: 280px;
  z-index: 200;
}