@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Nav */

.header {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    position: relative;
    z-index: 9999;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
  }
  
  .autoforce-logo {
    height: 45px;
  }

/* Main (car apresentation ) */

.main{
margin-top: -35px;
}

.row{
  display: flex;
}

.left-main{
  width: 45vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.circle{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0026ff;
  clip-path: circle(300px at right 400px);
}

.all-text{
  margin-bottom: 190px;
}

.title-car{
    font-size: 70px;
    font-weight: bold;
    cursor: default;
}

.thex1{
  font-size: 55px;
    font-weight: bold;
    color: blue;
    cursor: default;
}

.text-car{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: default;
    text-align: justify;
}

.btn{
  margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 10px;
    background-color: blue;
    border: none;
    border-radius: 10px;
}

.btn:hover{
  transition: 0.5s;
  box-shadow:0 4px 4px rgba(0,0,0,.15)
}

.right-main{
    width: 55vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-car{
  width: 900px;
  z-index: 999;
}

.car-price{
  margin-bottom: 220px;
  z-index: 999;
  margin-right: 300px;
  cursor: default;
}

/*Text Content */

.content-bottom{
  margin-top: -120px;
  background: blue;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content{
  margin-top: 90px;
  color: white;
  width: 90%;
  margin-left: 100px;
  text-align: justify;
  cursor: default;
}

.content-text{
  font-size: 20px;
  margin-bottom: 20px;
}

/* Video */

.video{
  margin-top: 35px;
}

.title-video{
    font-size: 55px;
    font-weight: bold;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.video-content{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Datasheet */

.content-datasheet{
  margin-top: 90px;
  background: blue;
}

.cartech{
  cursor: default;
}

.technical-table {
  margin-top: 2rem;
  padding: 3rem 2rem;

  background-color: blue;
  display: grid;
  grid-template-columns: 3fr 5fr;
  column-gap: 2rem;
}

.technical-table__car-identifier {
  padding: 0 1rem;
}

.technical-table__car-identifier h3 {
  font-weight: bold;
  font-size: 1.75rem;
  color: rgb(255, 255, 255);
}

.technical-table__car-identifier p {
  font-weight: bold;
  font-size: .8rem;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.technical-table__car-identifier img {
  width: 100%;
}

.technical-table__car-data {
  padding: 0 1rem;
}

.car-data--header {
  display: flex;
  list-style-type: none;
  width: 100%;
  border-bottom: 1px solid #E1E1E1;
}

.car-data--header-item {
  flex: 1;
  font-weight: 400;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.car-data--header-item p {
  display: inline-flex;
  padding: 0 .3rem .8rem;
  transition: all .2s ease;
  border-bottom: 3px solid transparent;
}

.car-data--header-item:hover p {
  color: #ffffff;
}

.car-data--header-item.active p {
  font-weight: bold;
  border-bottom: 3px solid #ffffff;
}

.car-data--content {
  padding-top: 1.5rem;
}

.car-data--content-item {
  display: none;
  grid-template-columns: 1fr 1fr;
  row-gap: 12px;
  column-gap: 15px;
}

.car-data--content-item.active {
  display: grid;
}

.car-data--content-item p {
  font-size: 14px;
}

/* Image Gallery */

